%div.row
  %div.span9
    %h1 helloWorld Programs
    - @programs.each do |program|
      %div.programs
        %h2 #{link_to program.name, program}
        = program.intro
        %br
        %br
        = program.description
