%div.row
  %div.span7
    %div.hello-world
      %h1 What is helloWorld?
      %p
        A  COMMUNITY of prospective ENTREPRENEURS and  CREATIVES using modern TECHNOLOGY to build CAREERS.
    %div.hello-world
      %h1.why Why helloWolrd?
      %p
        We are PROJECT BASED; we use practical application to TEACH you how to be CREATIVE and start your own successful BUSINESS.
  %div.span4.programs-intro
    %h1 Our Programs
    - @programs.each do |program|
      %div.programs
        %h2.program-title
          #{link_to program.name, program}
        %p
          = program.intro
        %br
