%div.row
  %div.span7
    %a{ :href => 'mailto:help@helloworld.co.ke?Subject=I%20want%20to%20Join%20helloWolrd!', :class => 'btn btn-primary btn-large'} Join HelloWorld!
    %div.hello-world
      %h1.why The New Geek on the block!
      %p
        HelloWorld is a  community of young learners, prospective entrepreneurs and  creatives using modern technology to build their careers and companies. We believe that tech, cool ideas, creativity, a supportive community, pizza and more entrepreneurs will make the world a better place!
      %p
        We CREATE. We don't admire beautiful design, we create beatiful design. We don't just use apps like Twitter, we build apps like Twitter. We are not just living life, we are shaping our paths.
      %p
        We embrace all your ideas ambitions and run with you towards your goals!
    %div.hello-world
      %h1.why What's our secret?
      %p
        We do all this through self learning and practical team projects. We enjoy self learning and believe it's the purest and most effective form of learning because it allows you to master what you are learning. You learn your subject of choice and at your pace of choice.
      %p
        We love to get our hands dirty in projects, from film and photography contests to hackathons, and we do this in teams! Team projects are fun, and effective. Some of the projects include: Building a company from company registration to making a sale you product or service, making a movie as a team, designing your personal brand, and much more!
    %div.hello-world
      %h1
        Sounds like your kind of thing?
      %p
        Techies are known not to be social, but we the exact opposite! We are a community. Do you enjoy learning new things? Do you like exercising you creativity? Do you love communities? Want to start your own successful company when you're young? Then you're ou kind of person! Join HelloWorld today!
    %div.hello-world.join-now
      %a{ :href => 'mailto:help@helloworld.co.ke?Subject=I%20want%20to%20Join%20helloWolrd!', :class => 'btn btn-primary btn-large join-btn'} Join HelloWorld!
  %div.span4.programs-intro
    %div.follow-us
      %p
        Connect with us!
      %a{ :href=>"https://twitter.com/HelloWorldKE", :class=>"twitter-follow-button", 'data-show-count'=>"false" }Follow @HelloWorldKE




    %h1 Our Programs
    - @programs.each do |program|
      %div.programs
        %h2.program-title
          #{link_to program.name, program}
        %p
          = program.intro
        %p
          = link_to "Read more...", program
        %br

%script
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
