= link_to "HelloWorld", root_path, :class => 'brand'
%ul.nav
  %li
    = link_to "Programs", programs_path
  %li
    = link_to "Contact Us", new_contact_path
%ul.nav.pull-right
  %li
    %a{ :href => 'mailto:help@helloworld.co.ke?Subject=I%20want%20to%20Join%20helloWolrd!', :class => ''} Join HelloWorld
